@import url('https://fonts.googleapis.com/css2?family=Acme&family=Briem+Hand:wght@100..900&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
}

.main {

    width: 100%;
    height: 100%;
    background-color: #07011e;
    color: #fff;


}

.start_container {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    border-radius: 11px;
    border: 2px solid #FF6500;
    background-image: url(/src/assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}

.logo {
    width: 60%;

    margin: 1.5rem auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.start_data{
    padding: 1rem;
    height: 80vh;
}
.intro_data{
    padding: 1rem;
    height: 74vh;
}

.game_data{
    padding: .5rem;
  
}

.room_data{
    padding: 1rem;
   
}


.start {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

}

.btn1,
.btn2 {
    margin: 1rem 0;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.05rem;
    border-radius: 0.5rem;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: 1px solid #718096;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: inset 2px 2px #fff, inset -2px -2px #936a1a;
    text-decoration: none;
    text-shadow: 3px 3px #705218, 2px 2px #705218;
    transition: 0.3s;
}

.btn1:hover,
.btn2:hover {
    background-color: #1a056e;
    border: 1px solid #fff;
    color: #fff;
    transition: .2s all ease-in-out;
}

.btn1 {
    background-color: #feb72b;


}

.btn2 {
    background-color: #13044e;


}

.menu_container {

    display: flex;
    flex-direction: column;
}

.room_btn {
    display: flex;
    flex-direction: row;
}

.input_data {
    background-color: rgba(20, 18, 18, 0.3);
    border-radius: 11px;
    padding: 1rem .7rem;

}

.input_data h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.input_data input {
    width: 90%;
    padding: .5rem .2rem;
    font-size: 1.2rem;
    border: 1px solid #FF6500;

}

.room_btn button {
    margin: 0 .5rem;
}

.home_head {
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 3px 3px #321870, 2px 2px #705218;
    transition: 0.3s;
}

.home_head h1 {
    font-size: 3rem;
    letter-spacing: .2rem;
}

.home_head button {

    margin-top: 4rem;
}

.menu_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 13rem;

}

.icons {
    background-color: #13044e;
    border: 1px solid #718096;
    box-shadow: inset 2px 2px #fff, inset -2px -2px #936a1a;
    padding: .8rem .6rem;
    border-radius: 40%;
    cursor: pointer;
}

.menu_display {
    /* background-color: rgba(0, 0, 0, 0.3);
   */
    background-color: #1a056e;
    padding: 1rem;
    position: absolute;
    width: 93%;
    height: auto;
    top: 15rem;
    left: 0;
    border: 1px solid #fff;
    border-radius: .5rem;
    display: none;
    z-index: 10;
}

.menu_display.show {
    display: block;
}

.menu_display h1 {
    color: #feb72b;
    margin-bottom: 1rem;
    font-size: 1.9rem;
    font-weight: 800;
}

.menu_display .display_icons {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.menu_display p {
    font-size: 1.3rem;
}

.display_icons button,
.setting_data button {
    padding: .4rem 1rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: 1px solid #718096;
}

.menu_display .display_input {
    margin-left: .9rem;
    padding: .5rem .2rem;
    border: 1px solid #FF6500;
    width: 68%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 1.3rem;
}

.db_1 {
    background-color: #ce5300;
}

.db_2 {
    background-color: rgb(249, 104, 104);
}

.error {
    color: rgb(169, 0, 0);
    margin-top: .5rem;

}

.setting_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .7rem 0;
}

.setting_data h3 {
    font-size: 1.4rem;

}

.setting_data p {
    font-size: .9rem;
    color: #9ba2ac;
}

.guide_list {
    margin-left: 1rem;
}

.guide_list li {
    padding: .3rem 0;
}


.object_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .7rem;
    background-color: #13044e;
    margin-bottom: .2rem;
    border-radius: .5rem;
    border: 2px solid #fff;
}

.object_data h1 {
    color: #FF6500;
    font-size: 1.2rem;
}

.object_data h2 {
    font-size: 1.2rem;
}

.image_area {
    height: 40vh;
    width: 100%;
    background-color: #140d2e;
    border: 2px solid #fff;
    border-radius: .5rem;
}

.click_button {
    margin-top: .4rem;
    text-align: center;

}

.capture {
    width: 100%;
    border: 1px solid #718096;
    padding: .2rem 0;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.chat_leader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .7rem;
    text-align: center;

}

.chat_leader button {
    background-color: #1a056e;
    color: #fff;
    border: 1px solid #ffff;
    border-radius: .5rem;
    padding: .5rem;
    width: 100%;
    margin: 0 .1rem;
    font-size: 1rem;
    cursor: pointer;

}

.btn_icon {
    margin-right: .5rem;
}

.submit_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: .4rem;

}

.submit_button button {
    width: 100%;
    border: 1px solid #718096;
    padding: .2rem 0;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.submit_btn {
    background-color: #33ff00;
    margin-right: .5rem;
}

.retake_btn {
    background-color: #FF6500;
}


.chat_data {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height:200px;
}

.chat_msg {
    display: flex;
    padding: .5em .3em;
}

.chat_send {
    width: 100%;
    display: flex;
}

.chat_input {
    width: 85%;
}

.btn_chat_send {
    width: 15%;
}

.person {
    padding-right: .5rem;
    font-size: 1.4rem;
}

.display_head button {
    background-color: #ce5300;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid #13044e;
    font-size: 1rem;
    height: 15%;
}

.leader_data {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    max-height: 200px;
}

.table {
    text-align: center;
    width: 100%;
}

.head {
    background-color: #ce5300;
}

.col_data {
    background-color: #718096;
}

.row th,
.row td {
    padding: .4rem .2rem;
}

.chat_leader button.active {
    background-color: #FF6500;
    color: white;
}


.box_display {
    display: none;
}

.box_display.show {
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 18, 18, 0.3);
    margin-top: .5rem;
    padding: .5rem;
    height:14rem ;
}

.game_container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1450px) {
    .start_container {
        width: 50%;

    }

}

@media screen and (max-width:843px) {
    .start_container {
        width: 95%;

    }

}

@media screen and (max-width:422px) {
    .home_head h1 {
        font-size: 1.8rem;
    }

    .menu_display h1 {
        font-size: 1.4rem;
    }

    .menu_display p,
    .display_icons button,
    .setting_data button {
        font-size: 1.1rem;
    }

    .setting_data p {
        font-size: .9rem;
    }

    .guide_list li {
        font-size: .9rem;
    }

    .menu_display {
        top: 8rem;
    }
}

@media screen and (max-width:350px) {
    .object_data h1 {
        font-size: 1rem;
    }

    .object_data h2 {
        font-size: .9rem;
    }

    .chat_leader button {
        font-size: .9rem;

    }

    .capture {
        font-size: 1rem;
    }

    .submit_button button,
    .person,
    .head,
    .input_data input {
        font-size: 1rem;
    }

    .data_1,
    .data_2,
    .col_data,
    .btn1,
    .btn2 {
        font-size: .8rem;
    }

    .input_data h1 {
        font-size: 1.1rem;
    }

    .home_head h1 {
        font-size: 1.4rem;
    }
}

.error_message {
    display: block;
    width: 100%;
    padding: 0 .5em;
}
